#header {
  width: 1200px;
  margin: 0 auto;
  height: 60px;
  font-size: 0;
}
#header img {
  display: inline-block;
  vertical-align: top;
  height: 60px;
}
#header img.l_title {
  margin-left: 20px;
}
#header > ul {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}
#header > ul li {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  border-right: 1px solid #ccc;
}
#header > ul li:last-child {
  border: none;
}
#header > ul li img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  height: 40px;
}
#header > ul li .text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  line-height: 18px;
  text-align: center;
}
#header > ul li .text p {
  font-size: 14px;
  color: #0299d9;
  font-weight: 700;
}
#header > ul li .text span {
  font-size: 12px;
}
.bg-wrapper {
  width: 100%;
  background-color: #3699dc;
  margin-top: 20px;
}
.bg-wrapper .bg {
  width: 1200px;
  height: 326px;
  margin: 0  auto;
  background: url(/image/index-bg.jpg) no-repeat top left;
}
#content {
  width: 1200px;
  margin: 50px auto;
}
#content > a {
  display: block;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
#container{
  width: 100%;
}
#task{
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
#task thead{
  background-color: #4b82ba;
}
table.dataTable tbody .even{
  background-color: #b8cdea;
}
#task tr{
  border-collapse:collapse;
  border-bottom: 1px solid #000000;
}
#task tr:hover{
  background-color: #4b82ba;
}
#task th,#task td{
  border-right: 1px solid #000;
}
#task td{
  text-align: center;
}
#task_length select{
  width: 50px;
  border-radius: 3px;
  margin-bottom: 20px;
}
#task tbody tr td:last-child{
  padding: 3px;
}
#task tbody img,#task tbody .detail,#task tbody .delete{
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  cursor: pointer;
}
#task tbody .delete{
  margin-left: 10px;
}

#detail-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  display: none;
}
#detail{
  position: absolute;
  width: 1200px;
  top: 50px;
  left: 50%;
  bottom: 50px;
  margin-left: -600px;
  background-color: #fff;
}
#detail p{
  text-indent: 200px;
  font-size: 14px;
  line-height: 24px;
}
#detail p:first-child{
  margin-top: 50px;
}
#detail .close{
  position: absolute;
  top: 30px;
  right: 50px;
  color: #000;
  font-size: 30px;
  z-index: 999;
  cursor: pointer;
}